html {
   background-color: #EDEDEB;
   background-position: center center;
   color: #39322C;
   font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
   font-size: 10pt;
   margin-top: 0;
}

#arrows {
   border: medium none;
   position: absolute;
   right: 5px;
}

body {
   background-color: #FFFFFF;
   background-image: url("/img/footer.jpg");
   background-position: center bottom;
   background-repeat: no-repeat;
   margin: auto;
   width: 950px;
   z-index: 1;
}
#principal {
   background-image: url("/img/header.png");
   background-position: center top;
   background-repeat: no-repeat;
   margin: auto auto -10px;
   width: 950px;
}
#HEADER {
   border-top: 10px solid #FFC62E;
   height: 115px;
   margin: auto;
   position: relative;
   width: 948px;
}
#STRUCTURE {
   -moz-border-radius: 5px 5px 5px 5px;
   background-color: #FFFFFF;
   border: 1px solid #E4E5E4;
   margin: auto;
   padding: 5px;
   width: 882px;
   z-index: -10;
}
#HEADER_IN {
   background: url("/img/cambiar-menu.png") no-repeat scroll right top #999;
   margin: auto;
   position: relative;
   width: 882px;
   border-radius: 5px 5px 0 0;
   height: 270px;
   overflow: hidden;
}
#CONTENT {
   border: 0 solid #0089FF;
   margin: 5px auto auto;
   overflow: hidden;
   position: relative;
   width: 882px;
}
#SIDEBAR_LEFT {
   background-color: #FFFFFF;
   border: 1px solid #75C403;
   display: none;
   float: left;
   margin: 5px;
   position: relative;
   width: 200px;
}
#CONTENT_BODY {
   background-color: #FFFFFF;
   float: left;
   margin-bottom: 10px;
   position: relative;
   width: 882px;
}
#SIDEBAR_RIGHT {
   background-color: #FFFFFF;
   border: 1px solid #75C403;
   display: none;
   float: left;
   margin: 5px;
   position: relative;
   width: 200px;
}
#FOOTER_IN {
   background-color: #FFFFFF;
   border: 0 solid #0089FF;
   margin: 10px 5px 5px;
}
#FOOTER {
    height: 100px;
    margin: auto;
    position: relative;
    width: 948px;
}
#FOOTER a:hover {
   border-bottom: 0 none;
}
#mMenu{
    width: 882px;
    height:36px;
    display:block;
    padding:0;
    margin:0;
}
.mWrapper{
    display:inline-block;

    background: #333;



    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    width:147px;
    height: 36px;
    padding:0;
    margin:0 -2px;

}

.mWrapper span{
    border-right:1px solid #555555;
    border-left:1px solid #a3a3a3;
    overflow:hidden;
    margin: 0px;
    padding: 0px;
    height:35px;
    line-height:35px;
    text-indent:15px;
    display:block;
    border-top:1px solid #999;
    position:relative;
}

.mWrapper:hover span{

    background: #f9f9f9;
    border-top:1px solid #555;
    border-left:1px solid #555;
    border-right:1px solid #555;
    z-index:9;

    -moz-box-shadow: 0px 10px 15px #333;
    -webkit-box-shadow: 0px 0px 15px #333;
    box-shadow: 0px 0px 15px #333;

    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.mHidden{
    background-color:purple;

    width:882px;
    display:none;
    position:absolute;
    top:36px;
    left:0px;
    z-index:10;
}
.mHidden .menu{
    padding: 5px 15px 5px 5px;
    float:left;
    list-style:none;
    border-right:1px solid #9a9a9a;
    margin-right:10px;
    min-width: 180px;
}
.mHidden .menu li a{
    height:30px;
    line-height:30px;
    text-indent:10px;
    border-bottom:1px dotted #d3d3d3;
    display:block;
}
a {
   color: #fff;
   text-decoration: none;
}
a:hover {
   background-color:#e3e3e3;
   color: #333;
   text-decoration: none;
}
